---
title: Freelance Web Designer | Aaron Hatchard | Brisbane
metadescription: Freelance web designer, Rubik’s Cube champion & lifelong geek Aaron Hatchard helps you get the website your business needs. WordPress, web development & more. 
---

{% include header.html route="about" %}

<!-- Start Meet Aaron Section-->
      <section id="main" class="section bg-white">
        <div class="container">
        	<div class="row">
            <div class="twelve columns u-text-center heading-block">
              	<h1 class="intro black">Meet Aaron</h1>                        
            	<p class="subtitle orange">Freelance web designer, lifelong geek</p>
        	</div>
          </div>
          <div class="row">
            <div class="eight columns offset-by-two">
              <p>Hi there! My name’s Aaron, and I’m a freelance web designer based in Brisbane.</p>
              <p>I create websites for businesses of all shapes and sizes, from sole traders right up to businesses with an office in every city. The business owners I work with are people who want to showcase their products and services with a strong online presence – and who want to work directly with the guy building their site.</p>
              <p>If that sounds like you, then we need to chat.</p>
            </div>
          </div>
      </div>
      </section>
<!-- End Meet Aaron Section-->
<!-- Start Services Section-->
      <section id="services" class="section bg-orange">
        <div class="container">
          <div class="row">
            <div class="twelve columns">
              <h2 class="intro white"><span class="dotted black-dots">"You" focus</span></h2>              
            </div>
          </div>
          <div class="row">
            <div class="eight columns offset-by-two">
              <p>Have you ever been frustrated by specialists who take ages to deliver a final product because they’re juggling your project with several others? Nothing is more excruciating. That’s why I follow a strict one client at a time policy. When I’m working with you, you can be confident your project has my full attention – the same level of attention I’d give to juggling chainsaws (if I juggled chainsaws). That way, you get better results, sooner.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Start Why Aaron Section-->
      <section id="why" class="section bg-white">
        <div class="container">
          <div class="row">
            <div class="twelve columns">
              <h2 class="intro black"><span class="dotted orange-dots">Qualifications &<br>experience</span></h2>              
            </div>
          </div>
          <div class="row">
            <div class="eight columns offset-by-two">
              <p>If this is the headline you were really looking for, you’ll be glad to learn I have a Bachelor’s Degree in Computing, plus a Certificate III in IT Support. After several years as a software developer, I moved into web design and development so I could help business owners get both the web tools and sites they need. I’ve been a freelance web designer ever since.</p>
          </div>
        </div></div>
      </section>
	<!-- End Why Aaron Section-->
	<!-- Start testimonials Section-->
      <section id="testimonials" class="section bg-orange">
        <div class="container">
          <div class="row">
			<div class="twelve columns">
              <h2 class="intro white"><span class="dotted black-dots">The real Aaron</span></h2>              
            </div>
          </div>
          <div class="row">
            <div class="eight columns offset-by-two">
              <p>When I’m not building websites that solve your problems, I enjoy solving Rubik’s Cubes (my current PB for a 3 x 3 grid cube is 36 seconds), watching anime, playing video games and keeping fit-ish with DDR and the odd hike. I haven’t taken up chainsaw juggling yet, but you never know what the future may bring…</p>
          </div>
        </div>
    	</div>
      </section>
	<!-- End testimonials Section-->
	<!-- Start still here Section-->
    <section id="stillhere" class="section bg-white">
        <div class="container">
          	<div class="row">
            	<div class="twelve columns">
              		<h2 class="intro black"><span class="dotted orange-dots">Let's talk</span></h2>              
            	</div>
          	</div>
          	<div class="row">
            	<div class="eight columns offset-by-two">
              		<p>The website your business needs is within reach.</p>
              		<p>All it takes to start is a simple conversation.</p>
              		<p>Send me a message via the contact form and I’ll get back to you shortly to discuss your vision for your business website.</p>
              		<a href="/contact" class="accent-inverse button">Send me a message</a>
				</div>
			</div>
		</div>
	</section>

{% include footer.html side="right" %}