---
title: Web Development & WordPress Web Design | Aaron Hatchard
metadescription: With options including custom web development & WordPress web design, getting the website your business needs couldn’t be easier. Get a quote today. 
---

{% include header.html route="index" %}

      <header>
	      <!-- Start Hero Section-->
	      <div id="fullscreen-hero" class="home-hero">
	        <div class="hero-container">
	          <div class="hero-content">          	
	            <h1 class="">Aaron Hatchard</h1>
	            <span id="hero-tagline" >Nothing comes between me and your website</span>
	            <!-- <div class="page-scroll"><a href="#sub-footer" class="button button-ghost">Yes, I'm Available For Hire</a></div> -->
	            <div class="page-scroll learn-more"><a id="learnmore" href="#learn-more">Learn more about what I do<br><i class="fa fa-chevron-down"></i></a></div>
	          </div>
	        </div>
	      </div>
      </header>
      <script>
          document.getElementById('learnmore').addEventListener("click", function(){
              window.scroll({ top: document.querySelector("header").clientHeight, left: 0, behavior: 'smooth' });
    });

      </script>
      <!-- Start Services Section-->
      <section id="main" class="section bg-white">
        <div class="container">
        	<div class="row">
            <div class="twelve columns">
              <div class="twelve columns u-text-center heading-block">
                <h1 class="intro black">Web Development &<br>WordPress Web Design</h1>                        
              <p class="subtitle orange">Nothing comes between me and your website</p>
          </div>
              <!-- <h1 class="intro u-text-center"><span class="black dotted orange-dots">Web Development &<br>WordPress Web Design</span></h1>  -->                        
            </div>
          </div>
          <div class="row">
            <div class="eight columns offset-by-two">
              <p>When it comes to websites, there’s really no one-size-fits-all solution.</p>
              <p>That’s why it’s important to have someone who will listen to your business’s needs and create a website designed to match – a website that will make the right impression every time (unlike that certain someone you brought home for Christmas one year).</p>
              <p>As a freelance web developer, I take a problem-solving approach to web design so you get the ideal website for your business and clients. Whether that means a custom site with specialised tools and all the bells and whistles, or a handy, low-maintenance WordPress website, I can help.</p>
            </div>
          </div>
          
        </div>
      </section>
      <!-- Start Services Section-->
      <section id="services" class="section bg-orange">
        <div class="container">

          <div class="row">
            <div class="twelve columns">
              <h2 class="intro"><span class="white dotted black-dots">Services</span></h2>              
            </div>
          </div>

          <div class="row">
            <div class="custom-one-third column">
              <div class="expertise-block"><i class="fa fa-wordpress white"></i>
                <h3 class="title"><span><a href="/wordpress-developer" class="black dotted white-dots">WordPress<br/>websites</a></span></h3>
                <p class="summary">Want a great-looking, fully-functional, easy-to-manage website? Then you can’t look past WordPress.</p>
                <p>Learn how I can help you leverage WordPress web design to create the website you want and need.</</p>
                <p><a href="/wordpress-developer" class="white-inverse button wrap">Learn more</a></p>
              </div>
            </div>

            <div class="custom-one-third column">
              <div class="expertise-block"><i class="fa fa-code white"></i>
                <h3 class="title"><span><a href="/custom-web-design-development" class="black dotted white-dots">Website<br/>development</a></span></h3>
                <p class="summary">Looking for something a little special? With website development, you can get a fully-customised website to suit you and your business’s needs, whatever they may be.</p>
                <p>Let me help you get  Learn more about this specialised service here what you want.</p>
                <p><a href="/custom-web-design-development" class="accent-inverse button wrap">Learn more</a></p>
              </div>
            </div>

            <div class="custom-one-third column">
              <div class="expertise-block"><i class="fa fa-medkit white"></i>
                <h3 class="title"><span><a href="/web-support-more" class="black dotted white-dots">Website<br/>support</a></span></h3>
                <p class="summary">Would you rather leave the nitty-gritty of regular website maintenance to someone who knows what they’re doing (and enjoys it)? Then we need to talk.</p>
                <p>Find the one-off or ongoing website support service you need.</p>
                <p><a href="/web-support-more" class="black-inverse button wrap">learn more</a></p>
              </div>
            </div>

        </div>
      </section>
      <!-- Start Why Aaron Section-->
      <section id="why" class="section bg-white">
        <div class="container">

          <div class="row">
            <div class="twelve columns">
              <h2 class="intro"><span class="black dotted orange-dots">Why Aaron Hatchard?</span></h2>              
            </div>
          </div>

          <div class="row">            
            <div class="eight columns offset-by-two">
              <p>My tagline is “<span class="orange bold">nothing comes between me and your website</span>” – and I mean it. I only work on one project at a time, so you and your website receive my full attention. With a background in software development and years of experience helping businesses build a strong online presence that wows their clients, I have the know-how to create the website you need.</p>
              <a href="/about" class="accent-inverse button">Learn more about me</a>
              </div>
          </div>
        </div>
      </section>
	<!-- End Why Aaron Section-->
	<!-- Start testimonials Section-->
      <section id="testimonials" class="section bg-orange">
        <div class="container">
          <div class="row">
            <div class="twelve columns">
              <h2 class="intro"><span class="white dotted black-dots">Testimonials</span></h2>              
            </div>
          </div>
          <div class="row">
            <div class="eight columns offset-by-two">
              <p>“Aaron went over and above to create exactly what we needed. We particularly love how our home page allows clients to seamlessly navigate to exactly what they’re looking for. We absolutely recommend Aaron’s services!”</p>
              <p class="testimony-owner">– Yellow Bird Birth</p>
              <a href="/testimonials" class="accent-inverse button">More Testimonials</a>
          </div>
        </div>
        </div>
      </section>
	<!-- End testimonials Section-->
	<!-- Start still here Section-->
      <section id="stillhere" class="section bg-white">
        <div class="container">
          <div class="row">
            <div class="twelve columns">
              <h2 class="intro"><span class="black dotted orange-dots">Still here?</span></h2>              
            </div>
          </div>
          <div class="row">
            <div class="eight columns offset-by-two">
              <p>The way to your clients’ hearts is through your website. So it’s time to get wooing.</p>
              <p>Send me a message today and I’ll get back to you shortly to discuss how you can get a website that will make clients crazy about you.</p>

              <a href="/contact" class="accent-inverse button">Send me a message</a>
              </div>
            </div>
        </div>
      </section>

	<!-- End still here Section-->
	
{% include footer.html side="right"%}