---
title:  Testimonials | Aaron Hatchard
metadescription: Need a new website for your business? Learn why Aaron Hatchard’s web design & development clients can’t recommend his services enough.
---

{% include header.html route="testimonials" %}

<!-- Start Meet Aaron Section-->
      <section id="main" class="section bg-white">
        <div class="container">
        	<div class="row">
            <div class="twelve columns u-text-center heading-block">
              	<h1 class="intro black">Testimonials</h1>                        
            	<p class="subtitle orange">The word on the street about your local web dev geek</p>
        	</div>
          </div>
          <div class="row">
            <div class="eight columns offset-by-two">
              <p>Don’t just listen to me telling you how great I am.</p>
              <p>Here’s what my clients really think…</p>              
            </div>
          </div>
      </div>
      </section>
<!-- End Meet Aaron Section-->
<!-- Start YBB Section-->
      <section id="services" class="section bg-orange">
        <div class="container">
          <div class="row">
            <div class="twelve columns">
              <h2 class="intro white"><span class="dotted black-dots">Yellow Bird Birth</span></h2>              
            </div>
          </div>
          <div class="row">
            <div class="eight columns offset-by-two">
              <p>We came to Aaron for a website revamp. Having grown out of our old design, we needed a site that could hold a lot of information while still maintaining a fresh, clean feel. Aaron went over and above to create exactly what we needed! He was quick to answer our questions, easily sketched out a design, and helped us understand our options so we could make the best decisions for our site. The end product is not only perfect for our current needs – it also leaves plenty of room for growth in the future. In particular, we love how our home page allows clients to seamlessly navigate to exactly what they’re looking for.</p>
              <p>We absolutely recommend Aaron’s services to anyone starting from scratch or considering a website revamp.</p>
              <p class="testimony-owner">– Amanda</p>
            </div>
          </div>
         </div>
      </section>
      <!-- End YBB Section -->     
<!-- Start ER Section-->
      <section id="why" class="section bg-white">
        <div class="container">
          <div class="row">
            <div class="twelve columns">
              <h2 class="intro black"><span class="dotted orange-dots">Brisbane Copywriter</span></h2>              
            </div>
          </div>
          <div class="row">
            <div class="eight columns offset-by-two">
              <p>Aaron created EXACTLY the kind of website I wanted and needed for my business. After years of struggling with an outdated design, my site is now clean, clear and completely unbuggy. It looks and works like magic, and I couldn’t be happier. Aaron was attentive, committed to creating the site I’d envisioned, and easy to work with. I really can’t recommend him enough. I’ll be telling everyone about you, Aaron!</p>
              <p class="testimony-owner">– Emily</p>
            </div>
          </div>
         </div>
      </section>
      <!-- End ER Section -->     
<!-- Start ER Section-->
      <section id="services" class="section bg-orange">
        <div class="container">
          <div class="row">
            <div class="twelve columns">
              <h2 class="intro white"><span class="dotted black-dots">Ten Creative</span></h2>              
            </div>
          </div>
          <div class="row">
            <div class="eight columns offset-by-two">
              <p>I highly recommend Aaron. I have worked with Aaron on several projects now for various clients and on every occasion Aaron provided exceptional service, outstanding knowledge and solved my client's issues where my previous developer said it wasn’t possible. I’m so glad I found Aaron and look forward to working with him in the future for all of my web work!</p>
              <p class="testimony-owner">– Kristen</p>
            </div>
          </div>
         </div>
      </section>
      <!-- End ER Section -->     
	<!-- Start still here Section-->
    <section id="stillhere" class="section bg-white">
        <div class="container">
          	<div class="row">
            	<div class="twelve columns">
              		<h2 class="intro black"><span class="dotted orange-dots">Like what you see?</span></h2>              
            	</div>
          	</div>
          	<div class="row">
            	<div class="eight columns offset-by-two">
              		<p>Send me a message via the contact form and I’ll get back to you shortly to discuss how I can help you get the website you’ve always wanted.</p>
              		<a href="/contact" class="accent-inverse button">Send me a message</a>
				</div>
			</div>
		</div>
	</section>

{% include footer.html side="right" %}