---
title:  Web Design & Development Portfolio | Aaron Hatchard
metadescription: Peek at past projects to see how Aaron Hatchard helps business owners like you create the website they’ve always wanted. Like what you see? Get a quote today. 
---

{% include header.html route="portfolio" %}

<!-- Start Meet Aaron Section-->
      <section id="main" class="section bg-white">
        <div class="container">
        	<div class="row">
            <div class="twelve columns u-text-center heading-block">
              	<h1 class="intro black">Web Design &<br>Development Portfolio</h1>                        
            	<p class="subtitle orange">Peek at some past projects</p>
        	</div>
          </div>
          <div class="row">
            <div class="eight columns offset-by-two">
              
              
            </div>
          </div>
      </div>
      </section>
<!-- End Meet Aaron Section-->
<!-- Start YBB Section-->
      <section id="services" class="section bg-orange">
        <div class="container">
          <div class="row portfolio-row">
            <div class="six columns">
            <h2 class="site-name white"><span class="dotted black-dots">Yellow Bird Birth</span></h2>              
              <div class="overlay-container">
                <img class='u-responsive-img' src="/images/yellowbirdbirth.jpg" alt="Yellow Bird Birth Wordpress homepage">       
                <div class="overlay">
                  <div class="text"><a class="white white-hover-dots" href="http://www.yellowbirdbirth.com">View Project</a></div>
                  <p class="portfolio-task">WordPress Website Redesign</p>
                </div>
              </div>
            </div>
            <div class="six columns portfolio-row">
            <h2 class="site-name white"><span class="dotted black-dots">ITP</span></h2>                 
              <div class="overlay-container">
                <img class='u-responsive-img' src="/images/itp.png" alt="ITP Tax Calculator">       
                <div class="overlay">
                  <p class="portfolio-task">Custom Tax Calculator</p>
                  <div class="text"><a class="white white-hover-dots" href="https://www.itp.com.au/tax-calculator-2017/">View Project</a></div>
                </div>
              </div>
            </div>
          </div>
         </div>
      </section>
      <!-- End YBB Section -->
      <!-- Start ITP Section-->
      <section id="why" class="section bg-white">
        <div class="container">
         <div class="row portfolio-row">
            <div class="six columns">
               <h2 class="site-name black"><span class="dotted orange-dots">Canadian House Sits</span></h2>
              <div class="overlay-container">
                <img class='u-responsive-img' src="/images/chs.jpg" alt="canadian house sits">      
                <div class="overlay">
                  <p class="portfolio-task-black">Web Application</p>
                  <div class="text"><a class="white white-hover-dots" href="https://www.canadianhousesits.com">View Project</a></div>
                </div>
              </div>
            </div> 
            <div class="six columns portfolio-row">
              <h2 class="site-name black"><span class="dotted orange-dots">Jelly Robot</span></h2>
              <div class="overlay-container">
                <img class='u-responsive-img img-border' src="/images/jellyrobot.png" alt="Jelly Robot Web Services">      
                <div class="overlay">
                  <p class="portfolio-task-black">WordPress Website</p>
                  <div class="text"><a class="white white-hover-dots" href="https://slasher4k.github.io/">View Project</a></div>
                </div>
              </div>
            </div>
          </div>          
      </div>
      </section>
	<!-- End ITP Section-->
	<!-- Start Canadian House Sits Section-->
      <section id="testimonials" class="section bg-orange">
        <div class="container">
          <div class="row portfolio-row">
            <div class="six columns">
            <h2 class="site-name white"><span class="dotted black-dots">Magazine</span></h2>              
              <div class="overlay-container">
                <img class='u-responsive-img' src="/images/magazine.jpg" alt="HTML to Wordpress theme">       
                <div class="overlay">
                  <p class="portfolio-task">HTML to WordPress Theme</p>
                  <div class="text"><a class="white white-hover-dots" href="https://dukoz.000webhostapp.com">View Project</a></div>
                </div>
              </div>
            </div>
            <div class="six columns portfolio-row">
            <h2 class="site-name white"><span class="dotted black-dots">Vue Cinema</span></h2>                 
              <div class="overlay-container">
                <img class='u-responsive-img' src="/images/vuecinema.jpg" alt="SPA Vue Application">       
                <div class="overlay">
                  <p class="portfolio-task">Single Page Application</p>
                  <div class="text"><a class="white white-hover-dots" href="https://slasher4k.github.io/cinema/">View Project</a></div>
                </div>
              </div>
            </div>
          </div>          
    	</div>
      </section>
	<!-- End Canadian House Sits Section-->
	<!-- Start still here Section-->
    <section id="stillhere" class="section bg-white">
        <div class="container">
          	<div class="row">
            	<div class="twelve columns">
              		<h2 class="intro black"><span class="dotted orange-dots">Like what you see?</span></h2>              
            	</div>
          	</div>
          	<div class="row">
            	<div class="eight columns offset-by-two">
              		<p>Send me a message via the contact form and I’ll get back to you shortly to discuss how I can help you get the website you’ve always wanted.</p>
              		<a href="/contact" class="accent-inverse button">Send me a message</a>
				</div>
			</div>
		</div>
	</section>

{% include footer.html side="right" %}

