---
title: Website Support, Maintenance, Hosting & More | Aaron Hatchard
metadescription: Want your own on-call geek to take care of website setup, updates, maintenance & more? Tailored monthly support packages & one-off services available. Get a quote today.
---

{% include header.html route="services" %}

<!-- Start intro Section-->
      <section id="main" class="section bg-white">
        <div class="container">
        	<div class="row">
            <div class="twelve columns u-text-center heading-block">
              	<h1 class="intro black">Website Support & More</h1>                        
            	<p class="subtitle orange">Get your local website geek to take care of the things you don’t want to</p>
        	</div>
          </div>
          <div class="row">
            <div class="eight columns offset-by-two">
              <p>It would be great if websites were a “set and forget” kind of a deal like jelly or crème brulee, but unfortunately they’re not. </p>
              <p>In addition to the various steps involved in setting up your website, it’s important to keep on top of regular updates, protect your site from hacking, and ensure everything continues to function smoothly.</p>
              <p>If that’s something you’d rather not take care of – or if you simply have no idea where to start – I can help.</p>
            </div>
          </div>
      </div>
      </section>
<!-- End intro Section-->
<!-- Start Why work with Aaron? Section-->
      <section id="services" class="section bg-orange">
        <div class="container">
          <div class="row">
            <div class="twelve columns">
              <h2 class="intro white"><span class="dotted black-dots">Comprehensive<br>website setup</span></h2>              
            </div>
          </div>
          <div class="row">
            <div class="eight columns offset-by-two">
              <p>For every web design project, I offer a comprehensive web setup service. This involves taking care of all the “nitty-gritty” for your new site, from organising domain registration and web hosting, to setting up your business emails and everything in between. Like a restaurant that opens for un-catered functions, I also offer comprehensive website setup as a stand-alone service, so if that’s all you need, I can still help.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- End Why work with Aaron? Section -->
      <!-- Start setup Section-->
      <section id="why" class="section bg-white">
        <div class="container">
          <div class="row">
            <div class="twelve columns">
              <h2 class="intro black"><span class="dotted orange-dots">Ongoing support &<br>maintenance packages</span></h2>              
            </div>
          </div>
          <div class="row">
            <div class="eight columns offset-by-two">
              <p>For a small monthly fee, you can have me available on-call to provide website support and maintenance as you need it, when you need it. This includes basic “house-keeping” such as regularly updating your site, tools and plugins, plus assistance with any troubleshooting and emergency support for those rare moments when something goes wrong.</p>
          </div>
        </div>
        </div>
      </section>
      
      <section id="stillhere" class="section bg-orange">
        <div class="container">
          <div class="row">
            <div class="twelve columns">
              <h2 class="intro white"><span class="dotted black-dots">Let's talk</span></h2>              
            </div>
          </div>
          <div class="row">
            <div class="eight columns offset-by-two">
              <p>Does your business need its own on-call geek to take care of your website? </p>
              <p>If so, we need to talk.</p>
              <p>Send me a message via the contact form and I’ll get back to you shortly to discuss your setup or support needs so I can arrange the right package for you.</p>
              <a href="/contact" class="accent-inverse button">Send me a message</a>
              <p style="margin-bottom: 0;margin-top: 2rem;">(For emergency website support services, write “<span style="color:#ff4040; font-weight: bold">EMERGENCY</span>” at the beginning of your message.)</p>

              </div>
          </div>
        </div>
      </section>
      <!-- Start still here Section-->
{% include footer.html side="left" %}