<footer id="footer" class="section {{ include.side }}">

{{ page.usereact }}

		<div class="container">
		  	<div class="row">				
		    	<div class="twelve columns u-text-center">			    
			      	<div class="circle-parent"><div class="circle"></div>
			       	<a href="https://www.facebook.com/aaronhatchard/"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
			        <br class="u-show-tablet"/>
			        <div class="circle-parent"><div class="circle"></div>
					<a href="https://www.instagram.com/tassie_hazard/"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>     
		      	</div>    
		      	<div class="twelve columns">
		        	<p id="copyright">© <span id="copyright-year"></span> Aaron Hatchard<span class="u-hide-small"> - </span><br class="u-show-tablet"/>Website Design & Development<br/>Queensland, Australia</p>
		      	</div>
		    </div>
		</div>		
	</footer>
    </div> <!-- end wrapper -->
	
<script>
	var circles = document.querySelectorAll('.circle-parent');
circles.forEach( function(circle) {
    circle.addEventListener("mouseenter", function(){
    	circle.style.color = "orange";
		circle.children[0].style.height = '100%';
		circle.children[0].style.width = '100%';
		circle.children[0].style.top = '0px';
		circle.children[0].style.left = '0px';
		});

    circle.addEventListener("mouseleave", function(){
    	circle.style.color = "white";
		circle.children[0].style.height = '0px';
		circle.children[0].style.width = '0px';
		circle.children[0].style.top = '50%';
		circle.children[0].style.left = '50%';

		});
})	

document.getElementById('copyright-year').innerHTML = new Date().getFullYear();
</script>

</body>

{% if page.highlightReact or layout.highlightReact %}
<script src="/js/prism.js"></script>
{% endif %}


</html>